<html>
	<head>
		<h1>Index File</h1>
	</head>
	<body>
		<form action="/oorequest" method='Post'>
			<table>
				<tr>
					<td><input type='text' name='instanceId'/></td>
					<td><h1>Instance Id</h1></td>
				</tr>
				<tr>
					<td><input type='text' name='region'></td>
					<td><h1>Region Name</h1></td>
				</tr>
				<tr>
					<td>
						<select name="action">
							<option value="">SELECT ONE</option>
							<option value="start">Start</option>
							<option value="terminate">Terminate</option>
						</select>
					</td>
				</tr>
				<tr>
					<td><input type="submit" value="Submit"/></td>
				</tr>
			</table>
		</form>
	</body>
</html>